{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="my-5">
            <form action="/home" method="POST" >
                <input  name="title"   type="text"  />
                <input type="submit" value="Add todo">
            </form>
        </div>
        <div>
            {% for todo in data %}
                <div>
                    <h3>{{todo.id}}-- {{todo.title}}</h3>
                    <div>
                        <a href="/remove/{{todo.id}}" class="btn btn-danger" >Delete</a>
                        <a href="/update/{{todo.id}}" class="btn btn-info" >Update</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}